.bg {
  width: 100%;
  overflow-y: auto;
  padding: 60px 0;
}

.bg::-webkit-scrollbar {
  width: 5px;
  background-color: lightgray;
}

.bg::-webkit-scrollbar-thumb {
  background-color: gray;
}

.cards {
  max-width: 1000px;
  margin: 0 auto;

  * {
    font-family: 'Roboto' !important;
  }
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.thumbnail {
  filter: grayscale(1);
  opacity: 0.2;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
